<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>E-mail Ten</title>
</head>
<body style="margin:0px; padding:0px; background-color:#F5F5F5; font-family:Helvetica, Arial, sans-serif; font-size:15px; color:#000000; line-height:1.5">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="600">
                    {{!-- <tr>
                        <td height="100" valign="center" align="center">
                            <img src="logo-inter.png" height="50" alt="Logotipo">
                        </td>
                    </tr> --}}
                    <tr><td height="40"></td></tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td bgcolor="#07004D" height="80" valign="center" align="center" style="font-size:23px; font-weight:bold; color:#fff; border-radius:6px 6px 0px 0px; padding:0px 40px">
                                        Portal Ten Governance - {{companyName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#ffffff" style="border-radius:0px 0px 6px 6px; padding:20px 40px">
                                        <p>Olá {{name}},</p>
                                        <p>
                                           {{ownerName}} da empresa {{companyName}} adicionou seu e-mail <b>{{email}}</b> para acessar o Portal Ten Governance</b>.
                                        </p>
                                        <p>
                                            Clique no botão abaixo para se cadastrar. </b>
                                            <br><br>
                                        </p>
                                        <p align="center">
                                            <a href='{{link}}' style="padding:18px 40px; text-decoration:none; background-color:#58CC5C; color:#fff; font-size:14px; border-radius:4px; font-weight:bold">
                                                ACESSAR
                                            </a>
                                        </p>
                                        <br>
                                        <hr style="border:1px solid #ddd">
                                        <p style="color:#999" align="center">
                                            *Este é um e-mail automático, favor não respondê-lo.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="30"></td></tr>
                    {{!-- <tr>
                        <td align="center">
                            <img src="logo-ten.png" width="90" alt="Logotipo Ten Meetings">
                        </td>
                    </tr> --}}
                    <tr>
                        <td align="center" style="font-size:13px">
                            © 2022 Ten Governance™ - Todos os direitos reservados
                        </td>
                    </tr>
                    <tr><td height="15"></td></tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
